<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student-Form input</title>
    <link href="{% static 'css/studentform.css' %}" rel="stylesheet"/>
</head>
<body>
    <h1> Registration Form</h1>
    <hr/><br/><br/><br/>
    <h2>{{ msg }}</h2>
    <div align="center">
        <form action="/studentinputverifyview/" method="post">
            {{ form1.as_p }}
            {% csrf_token %}
            <input type="submit" value="submit">
        </form>
    </div>
</body>
</html>